<div class="p-grid">
        <app-navegador></app-navegador>
                <div *ngFor="let silla of sillas">
                    <div class="col">
                        <p-card>
                             <p-image src={{silla.urlimagen}} alt="image" width="350"></p-image>
                             <div class="grid p-fluid">
                                <div class="col-12 md:col-4">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                        <label type="text">Nombre: {{ silla.nombre }}</label>        
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                        <label type="text">Descripcion: {{ silla.descripcion }}</label>        
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                        <label type="text">Precio: {{ silla.precio }}</label>        
                                    </div>
                                </div>
                            </div>
                                <ng-template pTemplate="footer">
                                     Cantidad:{{silla.cantidad}}
                                </ng-template>
                        </p-card>
                    </div>
                </div>
</div>

