<p-toolbar>
    <div class="p-toolbar-group-start">
        <!-- Añadimos la imagen del proceso-->
        <p-image src="../../assets/img/Mesasila_logo.png" alt="Image" width="150">
                <ng-template pTemplate="indicator">
                        Indicator Content
                </ng-template>
                </p-image>
                <!--Añadimos el Titulo del Proceso-->
                <h1>MESASILA</h1>
    </div>
    <div class="p-toolbar-group-end">
        <label for="inputtext">{{fechaDia}}</label>
         &nbsp; &nbsp;
        <button pButton type="button" label="REGISTRESE" class="p-button-outlined" (click)="loadRegistro()"></button>
         &nbsp; &nbsp;
        <button pButton type="button"  label="CATALOGO" class="p-button-secondary"(click)="loadCatalogo()"></button>
         &nbsp; &nbsp;
        <button pButton type="button" label="BLOG" class="p-button-warning"></button>
         &nbsp; &nbsp;
        <button pButton type="button"  label="MESASILA" class="p-button-help" ></button>
         &nbsp; &nbsp;
    
    </div>
</p-toolbar>
