<p-toolbar>
    <div class="p-toolbar-group-start">
        <!-- Añadimos la imagen del proceso-->
        <p-image src="../../assets/img/Mesasila_logo.png" alt="Image" width="150">
                <ng-template pTemplate="indicator">
                        Indicator Content
                </ng-template>
                </p-image>
                <!--Añadimos el Titulo del Proceso-->
                <h1>MESASILA</h1>
    </div>
    <div class="p-toolbar-group-end">
        <button pButton type="button" label="Registrese" class="p-button-info"></button>
    </div>
</p-toolbar>
