<h3>MESASILA</h3>
<div class="grid p-fluid">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
            <label for="inputtext">{{direccion}}</label>        
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-whatsapp"></i></span>
            <label for="inputtext">{{telefono}}</label>        
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-send"></i></span>
            <label for="inputtext">{{email}}</label>        
        </div>
    </div>
</div>
<!-- Añadimos el ma`pa de Google Maps
<div class="grid p-fluid">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-google"></i></span>
            <label for="inputtext">Mapa de Google Maps</label>        
        </div>
    </div>
</div>
-->