
<h5>Severities</h5>
<button pButton pRipple type="button" label="Primary"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>
<router-outlet></router-outlet>
<div>
  <button pButton pRipple type="button" label="Primary">Prueba de Boton</button>
</div>