<div class="p-grid">
    <app-navegador></app-navegador>
    <h5>REGISTRESE EN MESASILA</h5>
        <div class="grid p-fluid">
            <div class="col-12 md:col-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Email<i class="pi pi-send"></i></span>
                    <input type="text" pInputText placeholder="Email" [(ngModel)]="email">         
                </div>
            </div> 
           <div class="col-12 md:col-3">
             <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Password<i class="pi pi-hashtag"></i></span>
                    <input type="password" pInputText placeholder="Password" [(ngModel)]="password">      
            </div>
        </div>       
        <div class="col-12 md:col-3">
             <div class="p-inputgroup">
                 <span class="p-inputgroup-addon">Nombre <i class="pi pi-prime"></i></span>
                 <input type="text" pInputText placeholder="Nombre" [(ngModel)]="nombre">      
            </div>
         </div>
         <div class="col-12 md:col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Apellido<i class="pi pi-at"></i></span>
                <input type="text" pInputText placeholder="Apellido" [(ngModel)]="apellido">         
            </div>
        </div> 
       </div>
       <br><br>
       <div class="grid p-fluid">
        <div class="col-12 md:col-3">
            <div class="p-inputgroup">
                 <span class="p-inputgroup-addon">Fecha de Nacimiento <i class="pi pi-bell"></i></span>
                     <input type="number" pInputText placeholder="Edad" [(ngModel)]="fecha">   
   
            </div>
        </div>       
        <div class="col-12 md:col-3">
             <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">Direccion <i class="pi pi-car"></i></span>
                  <input type="text" pInputText placeholder="Direccion" [(ngModel)]="direccion">      
            </div>
        </div>
        <div class="col-12 md:col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Codigo Postal<i class="pi pi-car"></i></span>
                <input type="text" pInputText placeholder="Codigo Postal" [(ngModel)]="codigo">         
            </div>
        </div>
        <div class="col-12 md:col-3">
            <div class="p-inputgroup">
                 <span class="p-inputgroup-addon">Pais <i class="pi pi-globe"></i></span>
                     <input type="text" pInputText placeholder="Pais" [(ngModel)]="pais">       
            </div>
        </div> 
     </div>

</div>
